/* 
    Для H1 заголовков и других заголовков типа Expanded прописывать:
        font-stretch: expanded;
*/

/* 
    300 - Light
    400 - Regular
    500 - Medium
    600 - Semibold
    700 - Bold
*/

body {
    max-width: 1440px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    height: 4056px;

    font-family: "SF Pro";
    font-size: 20px;
    font-weight: 300;
    color: white;

    background-color: #0E0E0E;

    box-sizing: border-box;
}

#navbar {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 109px;

    background-color: transparent;
    position: fixed;
    z-index: 1000;

    transition: background-color 0.3s ease transform 0.3s ease, opacity 0.3s ease;
}

#navbar.scrolled {
    background-color: #0E0E0E;
}

#container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-stretch: expanded;
    font-weight: 400;
    font-size: 24px;
}

#nav ul {
    list-style: none;
    display: flex;
    gap: 60px;

    padding: 0px;
    margin: 0px;
}

#nav a {
    text-decoration: none;
    color: white;
}