/* 
    Для H1 заголовков и других заголовков типа Expanded прописывать:
        font-stretch: expanded;
*/

/* 
    300 - Light
    400 - Regular
    500 - Medium
    600 - Semibold
    700 - Bold
*/

body {
    max-width: 1440px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 4056px;

    font-family: "SF Pro";
    font-size: 20px;
    font-weight: 300;
    color: white;

    background-color: #0E0E0E;

    box-sizing: border-box;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Navigation Bar */

#navbar {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 109px;

    background-color: transparent;
    position: fixed;
    z-index: 1000; 

    transition: background-color 0.3s ease transform 0.3s ease, opacity 0.3s ease;
}

#navbar.scrolled {
    background-color: #0E0E0E;
}

#container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-stretch: expanded;
    font-weight: 400;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}

#nav {
    display: flex;
    gap: 60px;
}

#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover {
    text-decoration: underline 1px;
    text-underline-offset: 4px;
}

#nav a.active {
    font-weight: 600;
}

/* Home Section */

#home {
    scroll-margin-top: 109px;
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    /* img */
    background-image: url(../assets/img/header.png);
    width: 100vw;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 800px;
    object-fit: cover;
    display: block;
    padding: 0px;
}

#main h1 {
    font-size: 80px;
    font-stretch: expanded;
    font-weight: 500;

    padding-top: 120px;
    margin-bottom: 30px;
}

#main p {
    font-size: 24px;
    font-weight: 300;

    margin: 0px;
    padding-bottom: 80px;
}

#main a {
    width: 254px;
    height: 66px;
    border: white 1.5px solid;
    background-color: transparent;

    padding: 20px 40px;

    color: white;
    font-family: "SF Pro";
    font-stretch: expanded;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

#mainArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

/* Arrow + Floating Animation */

#mainArrow img {
    width: 50px;
    height: 35px;

    animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    opacity: 0.4;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(8px);
  }
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
}


/* About Section */

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-margin-top: 180px;
}

#about h2 {
    margin-top: 0px;
    font-size: 60px;
    font-stretch: expanded;
    font-weight: 400;
}

#about img {
    margin: 0px;
    padding: 0px;
}

.photo1 {
    width: 404px;
    height: 484px;
    position: absolute;
    z-index: 2;
    transition: z-index 0.3s ease, transform 0.3s ease;
}

.photo2 {
    width: 380px;
    height: 489px;
    position: relative;

    right: 78px;
    bottom: 35px;
    transition: z-index 0.3s ease, transform 0.3s ease;
}

#about > div:has(.photo2:hover) .photo1 {
    transform: scale(0.95) translateY(10px);
    z-index: 1;
}

.photo2:hover {
    z-index: 3;
    transform: scale(1.05) translateY(-10px);
}